.animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.particle {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px);
    animation: float linear infinite;
}

@keyframes float {
    0% {
        transform: translateY(100vh) scale(0);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh) scale(1);
        opacity: 0;
    }
}

.particle:nth-child(1) {
    left: 10%;
    width: 80px;
    height: 80px;
    animation-duration: 25s;
    animation-delay: 0s;
}

.particle:nth-child(2) {
    left: 20%;
    width: 60px;
    height: 60px;
    animation-duration: 20s;
    animation-delay: 2s;
}

.particle:nth-child(3) {
    left: 30%;
    width: 100px;
    height: 100px;
    animation-duration: 30s;
    animation-delay: 4s;
}

.particle:nth-child(4) {
    left: 40%;
    width: 50px;
    height: 50px;
    animation-duration: 18s;
    animation-delay: 1s;
}

.particle:nth-child(5) {
    left: 50%;
    width: 70px;
    height: 70px;
    animation-duration: 22s;
    animation-delay: 3s;
}

.particle:nth-child(6) {
    left: 60%;
    width: 90px;
    height: 90px;
    animation-duration: 28s;
    animation-delay: 5s;
}

.particle:nth-child(7) {
    left: 70%;
    width: 55px;
    height: 55px;
    animation-duration: 19s;
    animation-delay: 2.5s;
}

.particle:nth-child(8) {
    left: 80%;
    width: 75px;
    height: 75px;
    animation-duration: 24s;
    animation-delay: 4.5s;
}

.particle:nth-child(9) {
    left: 90%;
    width: 65px;
    height: 65px;
    animation-duration: 21s;
    animation-delay: 1.5s;
}

.particle:nth-child(10) {
    left: 15%;
    width: 85px;
    height: 85px;
    animation-duration: 26s;
    animation-delay: 3.5s;
}

/* Waves */
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%;
    height: 150px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.1) 100%);
    animation: wave 10s linear infinite;
}

.wave:nth-child(11) {
    animation-duration: 15s;
    opacity: 0.5;
    bottom: 10px;
}

.wave:nth-child(12) {
    animation-duration: 20s;
    opacity: 0.3;
    bottom: 20px;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}